{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Blog Header ======= -->
    <div class="header-bg page-area">
        <div class="container position-relative">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="slider-content text-center">
                        <div class="header-bottom">
                            <div class="layer2">
                                <h1 class="title2">My Blog</h1>
                            </div>
                            <div class="layer3">
                                <h2 class="title3">Profesional Blog Page</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Blog Header -->


<h1>User Bearbeiten</h1>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Nr.</td>
            <td>Name</td>
            <td>Beschreibung</td>
            <td>Score</td>
            <td>löschen</td>
            <td><a href="{{ path ('user.anlegen') }}">anlegen</a></td>
        </tr>
        </thead>
        <tbody>
        {% for user in benutzer %}
        <tr>
            <td>{{ user.id }}</td>
            <td><a href="{{ path ('user.anzeigen', {id: user.id}) }}">{{ user.name }}</a></td>
            <td>{{ user.beschreibung }}</td>
            <td>{{ user.score }}</td>
            <td><a href="{{ path ('user.entfernen', {id: user.id}) }}">x</a></td>
            <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
</main>
{% endblock %}
